body {
  background-color: $theme-background;
  color: $theme-text;
  margin: 0;
  padding: 0;
}

@mixin link($size: 2px, $offset: 0px) {
  text-decoration: none;
  position: relative;
  border-color: $theme-highlight;
  border-bottom-style: solid;
  border-bottom-width: $size;
  transition: border-color $theme-transition-slow ease-in-out;

  &:hover {
    border-color: $theme-hover;
    transition-duration: $theme-transition-fast;
  }
}

a {
  text-decoration: none;
}

blockquote {
  opacity: 0.8;
  font-style: italic;
  color: $theme-text;
  // border-left: 4px solid $theme-alternate
  padding: 0 1rem 0 2rem;
  margin: 1.5rem 0;
  transition: color $theme-transition-slow ease-in-out;
  position: relative;

  p:first-child {
    margin-top: 0.5rem;
  }

  p:last-child {
    margin-bottom: 0.5rem;
  }

  $zig: $theme-alternate;
  $zag: $theme-background;
  $bg: transparent;
  $size: 1rem;

  &::after {
    opacity: 0.33;
    line-height: 1rem;
    background-color: $zag;
    content: "";
    position: absolute;
    background-repeat: repeat;
    background-image: linear-gradient(225deg, $bg, $bg 75%, $zig 75%, $zig),
      linear-gradient(45deg, $bg, $bg 75%, $zig 75%, $zig),
      linear-gradient(135deg, $bg, $bg 75%, $zig 75%, $zig),
      linear-gradient(315deg, $bg, $bg 75%, $zig 75%, $zig);
    background-position: #{$size/2} #{$size/2}, #{$size/2} 0rem, #{$size/2} 0,
      #{$size/2} #{$size/2};
    background-size: $size $size;
    left: 0;
    top: 0;
    height: 100%;
    width: $size;
  }
}

.layout {
  padding: 6.75rem 1rem;
  & > * {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
  }
}

// .content,
// .layout
//   max-width: 720px
//   margin: 0 auto
