.navigation
  .navigation-container
    position: absolute
    box-sizing: border-box;
    top: 2rem
    left: 50%
    transform: translateX(-50%)
    max-width: 720px
    width: 100lvw
    padding: 0 1rem
    display: flex
    align-items: stretch
    justify-content: stretch
    z-index: 2

  .navigation-home
    positon: relative
    z-index: 2
    display: inline-flex
    font-size: 1.953rem
    line-height: 2rem
    align-items: center
    justify-content: center
    margin-right: 1.5rem

  .navigation-menu
    display: none
    align-items: center
    justify-content: center
    positon: relative
    z-index: 1

    &__link
      opacity: 0
      flex: 0 0 auto
      margin-right: 1.5rem
      transform: translateX(-1.5rem)
      transition-property: opacity, transform
      transition-duration: 500ms
      line-height: 2em
      position: relative

      @for $i from 1 through 10
        &:nth-child(#{$i})
          transform: translateX(#{$i * -3rem})
          transition-delay: 0ms, #{$i * 25ms}, #{$i * 25ms}

      span
        @include link(3px, 4px)
        line-height: 2em
        display: inline-block
        margin-left: 0.25rem

        &:after
          background-color: transparent

  .navigation-menu-mobile
    display: flex
    position: absolute
    opacity: 1
    background-color: $theme-menu-background
    top: 0
    left: 0
    padding: 6.25rem 1rem 2rem 1rem
    width: 100lvw
    height: 100lvh
    transform: translateX(-100lvw)
    box-sizing: border-box;
    flex-direction: column
    align-items: flex-start
    z-index: 2
    transition-property: transform, opacity
    transition-duration: 500ms

    &__link
      display: inline-block
      font-size: 1.728rem
      line-height: 1.728rem
      margin-bottom: 1.728rem
    
    a.navigation-menu-mobile__link span
      margin-left: 0.5rem
      @include link(4px, -3px)
      color: $theme-menu-text

    &__close
      @include link(4px, -3px)
      color: $theme-menu-text
      position: relative
      font-size: 1.5rem
      line-height: 2rem

      &::after
        background-color: $theme-menu-text

#navigation-controller
  display: none

#navigation-controller:checked ~ .navigation-menu-mobile
  display: flex
  transform: translateX(0lvw)
  opacity: 1

#navigation-controller:checked ~ .navigation-container
  .navigation-menu
    &__link
      opacity: 1
      transform: translateX(0)

@media screen and (min-width: 480px)
  .navigation
    .navigation-menu-mobile
      display: none !important

    .navigation-menu
      display: inline-flex
