.post {
  &__heading,
  &__content {
    padding: 0 1rem;

    & > * {
      max-width: $content-width;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title,
  &__hype,
  &__date {
    margin-bottom: 1.05rem;
  }

  &__content {
    pre {
      max-width: calc($content-width + 4rem);
      margin-left: auto;
      margin-right: auto;
      overflow-y: auto;

      code {
        display: block;
        padding: 1rem 2rem;
        margin: 1rem auto;
        max-width: $content-width;
        font-family: $code-font;
        font-size: $small-font-size;
        line-height: 1.4;
        border: unset;
        border-radius: unset;
        background: unset;
      }
    }
  }

  &__date {
    margin-top: 1rem;
    font-size: 1rem;
    opacity: 0.64;
  }

  &__end {
    margin-top: 2.75rem;
    margin: 1rem auto;
    max-width: $content-width;

    &::before {
      display: block;
      content: "";
      display: block;
      width: 50px;
      border-top: 3px solid $theme-text;
      height: 0;
      opacity: 0.64;
    }
  }
}
