{%- set links = ["/ blog 📖", "/sketchbook sketchbook 🌱", "/other other 🔮"] %}

<div class="navigation">
  <input type="checkbox" id="navigation-controller" />

  <div class="navigation-container">
    <label for="navigation-controller" class="navigation-home">⌘</label>

    <div class="navigation-menu">
      {% for link in links %} {%- set link_parts = link | split(pat=" ") %}
      <a class="navigation-menu__link" href="{{link_parts[0]}}"
        >{{link_parts[2]}} <span>{{link_parts[1]}}</span></a
      >
      {% endfor %}
    </div>
  </div>

  <div class="navigation-menu-mobile">
    {% for link in links %} {%- set link_parts = link | split(pat=" ") %}
    <a class="navigation-menu-mobile__link" href="{{link_parts[0]}}"
      >{{link_parts[2]}} <span>{{link_parts[1]}}</span></a
    >
    {% endfor %}

    <label
      for="navigation-controller"
      class="navigation-menu-mobile__link navigation-menu-mobile__close"
      >close menu</label
    >
  </div>
</div>
