<div class="navigation" id="navigation">
  <a class="navigation__home" href="/" id="home">⌘</a>
  <div class="navigation__links">
    <a class="navigation__link" href="/">
      <div class="navigation__link-label">home</div>
      <div class="navigation__link-label--mobile">hme</div>
    </a>
    <a class="navigation__link" href="/blog">
      <div class="navigation__link-label">blog</div>
      <div class="navigation__link-label--mobile">blog</div>
    </a>
    <a class="navigation__link" href="/sketchbook">
      <div class="navigation__link-label">sketchbook</div>
      <div class="navigation__link-label--mobile">sktchbk</div>
    </a>
  </div>
</div>
