body
  font-family: 'Roboto Slab'
  font-weight: 300
  font-size: 16px
  margin: 0
  line-height: 1.5em

h1
  font-family: 'Overpass Mono'
  font-weight: 400
  font-size: 22px
  margin: 0

h2
  font-family: 'Roboto Slab'
  font-weight: 700
  font-size: 20px
  margin: 27px 0 0

h3
  font-family: 'Roboto Slab'
  font-weight: 700
  font-size: 16px
  margin: 24px 0 0

p
  margin: 24px 0 0
  text-align: justify

ul, ol
  margin: 24px 0
  padding: 0 16px

  ul, ol
    margin: 12px 0

  li
    margin-top: 12px
    padding-left: 8px
