<!doctype html>
<html lang="en" class="post">
<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}

  <div class="breadcrumbs">
    <a href="/blog">← back to posts</a>
  </div>

  <h1 class="post__title">{{ page.title }}</h1>

  <blockquote class="post__hype">{{ page.hype }}</blockquote>

  <div class="post__content content">
    {{ content }}
  </div>

  <div class="post__meta">
    <div class="post__meta-date">{{ page.date | date: "%a, %B %d, %Y" }}</div>
  </div>

  {% include tail.html %}
</body>
</html>
